<div id="game-dashboard" class="col-span-12">
<% if @game %>
<div class="col-span-12 bg-amber-400 p-6 rounded">
  <p class="pb-4">Game Active: "<%= game.title %>"</p>
  <p class="pb-4">Users:</p>
  <div data-game-dashboard="users"></div>
  <%= link_to games_path(game: game),
    class: "btn",
    data: { turbo_method: :put } do %>
    end game
    <i class="material-icons left">arrow_circle_right</i>
  <% end %>
</div>
<% end %>
</div>
