<div class="relative">
  <div class="bubble border border-gray-500 absolute -top-9 rounded-lg bg-amber-400 text-sm px-2 py-1 opacity-0 text-black">copied!</div>
  <a href="/<%= card.url %>" class="btn btn-action share-url">
    <i class="material-icons left">content_copy</i>
    copy link
  </a>
</div>
