<div class="container mx-auto pt-4 w-10/12">
<%= form_with model: @card, scope: :card, url: cards_path, css: "w-full max-w-sm" do |form| %>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/3">
      <label class="block text-gray-200 font-bold mb-2 md:mb-2 pr-4" for="title">
        Title:
      </label>
      <%= form.text_field :title, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-2/3">
      <label class="block text-gray-200 font-bold mb-2 md:mb-2 pr-4">
        Entries (comma or newline separated):
      </label>
      <%= form.text_area :entries, rows: "8", class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
    </div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-2/3">
      <%= form.submit class: "btn card-create-submit", data: { turbo: false } %>
    </div>
  </div>
  <% end %>
</div>
