<%= render "logo", css_classes: "small" %>
<h3 class="pt-2 text-3xl text-center"><%= @card.title %></h3>
<div id="winner" class="hidden"><h1 class="text-3xl text-center">BINGO</h1></div>

<div class="max-w-screen-sm mx-auto">
  <div class="grid grid-cols-5">
    <% @entries.each_with_index do |entry, i| %>
    <div class="bg-yellow-300 shadow-lg aspect-square rounded-xl bingo-card-square">
      <%= (i == @entries.length / 2) ? "FREE SPACE" : entry %>
    </div>
    <% end %>
  </div>
</div>
