<div class="container public-container">
  <%= render "logo", css_classes: "small" %>
  <div class="">
    <div class="">
      <h3><%= @card.title %></h3>
    </div>
    <div class="grid grid-cols-5 gap-1">
      <% @entries.each_with_index do |entry, i| %>
      <div class="square bingo-card-square text-center p-1 rounded-lg text-md leading-none pt-2">
        <%= (i == @entries.length / 2) ? "FREE SPACE" : entry %>
        <span class="bingo-card__checkbox"></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
