<div class="container grid grid-cols-12 gap-4 mx-auto pt-4 w-10/12">
  <div class="col-span-12 lg:col-span-8 xl:col-span-9 p-6 overflow-hidden rounded text-gray-400 bg-gray-800 rounded-md">
    <h3 class="pt-2 pb-4 text-xl uppercase text-gray-200 text-center"><%= @card.title %></h3>
    <div id="winner" class="hidden w-1/2 p-2 mx-auto my-2 center rounded-xl bg-sky-300 top-9">
      <h3 class="font-black text-center text-rose-600 text-9xl">
      BINGO!
      </h3>
    </div>
    <div class="flex flex-col items-center justify-center">
    <%= link_to game_connections_path(card: @card),
      class: "btn inline-block mx-auto content-center",
      data: { turbo_method: :post } do %>
      connect to game
      <i class="material-icons left">arrow_circle_right</i>
    <% end %>
    </div>
    <div id="game-connection">
    </div>
  </div>
</div>
